
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #fff;

  --font-primary: "Rubik", sans-serif;
  --radius: 15px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--white);
  color: var(--very-dark-gray);
  line-height: 1.4;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input:focus,
button:focus {
  outline: 3px solid hsl(228, 95%, 67%);
  outline-offset: 2px;
}

.header {
  background: url("./images/pattern-bg-mobile.png") no-repeat center / cover;
  padding: 1.5rem 1rem 7.5rem;
  text-align: center;
  color: var(--white);
}

@media (min-width: 768px) {
  .header {
    background: url("./images/pattern-bg-desktop.png") no-repeat center / cover;
    padding: 2rem 1rem 8.5rem;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}